<po-page-default p-title="Dashboard">
  
  <div class="dashboard-grid">
    
    <po-widget
      p-title="Recrutamento"
      p-primary-label="Candidatos"
      (p-primary-action)="goToNewCandidate()">
      
      <div class="po-font-subtitle po-text-center">
        Gerencie os processos seletivos
      </div>
    </po-widget>

    <po-widget
      p-title="Vagas Abertas">
      <div class="po-font-title po-text-center po-mt-2">
        3
      </div>
      <div class="po-text-center">Vagas ativas no momento</div>
    </po-widget>
  </div>

</po-page-default>